<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Article Manager</title>
</head>
<body>
<div align="center" >

	<h1>Article Manager</h1>

	<a href="new">Create New Article</a>

	<br/><br/>
	<form th:action="@{/}">
		Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	<br/><br/>

	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Article ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Detail</th>
				<th>Date</th>
				<th>Link</th>

				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="article : ${listArticles}">
				<td th:text="${article.id == null ? 'not found' : article.id}">Article ID</td>
				<td th:text="${article.title == null ? 'not found' : article.title}">Title</td>
				<td th:text="${article.author == null ? 'not found' : article.author}">Author</td>
                <td>
                    <a th:href="@{'/detail/' + ${article.id}}">Detail</a>
                </td>
				<td th:text="${article.date == null ? 'not found' : article.date}">Date</td>
				<a th:href="${article.link}"><td th:text="${article.link == null ? 'not found' : article.link}">Link</td></a>
				<td>
					<a th:href="@{'/edit/' + ${article.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a th:href="@{'/delete/' + ${article.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/}]]";
	}
</script>
</body>
</html>